/* Frontend mentor css code */
.attribution { 
    font-size: 1em; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

/* My custom css */
/* Desktop design */
body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    height: auto;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.container {
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

/* Ok for top content */
.top-content { 
    border-style:solid;
    width: 550px;
    height: auto;
}

.bottom-content {
    margin-top: -7px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: solid;
    background-color: coral;
    /* width: 300px; */
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph {
    line-height: 1.6em;
    justify-content: center;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 20px;
    font-size: 1em;
}

.box-display-price {
    background-color: red;
    border-radius: 12px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    width: 50%;
    border: solid;
    width: 400px;
}

.bottom-element {
    background-color: red;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* Mobile responsive  */
@media screen and (max-width: 600px) {
    body{
        background-image: url(/images/pattern-background-mobile.svg);
    }
}