/* Frontend mentor css code */
.attribution { 
    font-size: 1em; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

/* My custom css */
/* Desktop design */
body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    height: auto;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.container {
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 7%;
    margin-bottom: 2%;
}

/* Ok for top content */
.top-content { 
    /* border-style:solid; */
    width: 400px;
    height: auto;
}

.bottom-content {
    margin-top: -7px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    /* border-style: solid; */
    background-color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: hsl(223, 47%, 23%);
}

.paragraph {
    color: hsl(224, 23%, 55%);
    line-height: 1.6em;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 1em;
}


.box-display-price {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    width: 50%;
    width: 300px;
    height: 80px;
    margin-bottom: 10%;
}
/* .a-link{
    margin-left: ;
} */

.box-svg {
    padding: 15px;
    height: 50px;
    width: 50px;
}

ul {
    list-style: none;
    margin-top: 20px;
    margin-left: -40px;
}

.title-4 {
    font-weight: bold;
}

.product-price {
    color: hsl(224, 23%, 55%);
}

.a-link{
    margin-top: 26px;
    margin-left: 60px;
}

a.a-link:hover {
    text-decoration: none;
}

button {
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 12px;
    width: 90%;
    box-shadow: 2%;
}


button:hover {
    background-color: #726bee;
}

.bottom-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cancel {
    margin-top: 20px;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: bold;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}

/* Mobile responsive  */
@media screen and (max-width: 600px) {
    body{
        background-image: url(/images/pattern-background-mobile.svg);
    }
}